@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Nosifer&family=Roboto:wght@100;400;500&display=swap');
html{
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

*{
    padding: 0;
    margin: 0;
}
/*Nav Menu*/
.menu{
    width: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;   
    top: 0;
    z-index: 1;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Home*/
.container{
    width: 100%;
    height: 100vh;
    background-image: url(img/sandwhich1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.1;
    margin: 6px 0 10px;
    text-align: left;
    padding: 5px; /* Add padding to the text for separation */
}

h2 {
    color: white;
    text-align: left;
    padding-left: 20px;
}

h2 span {
    display: block;
    color: #ff9900; /* Adjust the color for "Sandwich Bliss" */
    text-align: left;
    padding-left: 20px; /* Adjust the padding for "Sandwich Bliss" */
    margin-bottom: 10px; /* Add margin to separate the two lines */
}

/*Sandwhich*/

.holder {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, auto));
    gap: 1.5rem;
    border: 5px;
    padding-top: 10px;
}

.product{
    text-align: center; 
    position: relative;
    background-color: #f2f2f2;
}

.product:hover{
    padding: 5px;
    border: 1px solid black;
    transition: 0.4s;
}

.product-img{
    width: 300px;
    height: auto;
}

.price{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.bx-cart{
    position: absolute; 
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

@media(max-width: 1080px){
    .holder{
        margin: 0 auto;
        width: 90%;
    }
    .section{
        padding: 3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem !important;
        grid-template-columns: repeat(1, minmax(260px, auto));
    }
}

@media (max-width: 360px) {
    .shop {
        grid-template-columns: repeat(1, minmax(260px, auto));
    }
    .product {
        margin-top: 1rem !important;
    }
}