@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Nosifer&family=Roboto:wght@100;400;500&display=swap');
html{
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFF;
}

*{
    padding: 0;
    margin: 0;
}
/*Menu*/
.menu{
    width: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;   
    top: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 200px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Home*/
.container{
    width: 100%;
    height: 100vh;
    background-image: url(img/sandwhich1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1.1;
    margin: 6px 0 10px;
    text-align: left;
    padding: 5px; /* Add padding to the text for separation */
}

h2 {
    color: white;
    text-align: left;
    padding-left: 20px;
}

h2 span {
    display: block;
    color: #ff9900; /* Adjust the color for "Sandwich Bliss" */
    text-align: left;
    padding-left: 20px; /* Adjust the padding for "Sandwich Bliss" */
    margin-bottom: 10px; /* Add margin to separate the two lines */
}

